.drag-layout {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 6px;
    padding: 10px;
    margin: 3px;
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

}
.drag-layout h1 {
    font-size: 2em;
    font-weight: bold;
}
#contentsection.drag-layout {
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(221,221,184,1) 50%, rgba(220,221,164,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(221,221,184,1)), color-stop(51%,rgba(220,221,164,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(221,221,184,1) 50%,rgba(220,221,164,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(221,221,184,1) 50%,rgba(220,221,164,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(221,221,184,1) 50%,rgba(220,221,164,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(221,221,184,1) 50%,rgba(220,221,164,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

}

.drag-layout:hover, #layout-output .piece-remove:hover, .modal .pagination:hover, .form-items li{
    cursor: pointer;
}

#layout-output.over {
    background: rgba(236, 204, 211, 0.15);
}
.used-over {
    border: 2px solid #291414;
}

#layout-output {
    min-height: 500px;
    padding: 20px;
    margin: 10px;
}
#layout-output .piece-remove {
    min-height: 10px;
    min-width: 10px;
    color: indianred;
    display: inline-block;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 9px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
}

#layout-map {
    border: 1px solid grey;
}

.data {
    display: none;
}

.rendering-iframe {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.8);  /* Saf3.1+, Chrome */
    -moz-transform: scale(0.8);  /* FF3.5+ */
    -ms-transform: scale(0.8);  /* IE9 */
    -o-transform: scale(0.8);  /* Opera 10.5+ */
    transform: scale(0.8);
}
.rendering-iframe-id {
    position: absolute;
    color: rgba(59, 122, 155, 0.5);
    font-size: 8em;
    font-family: serif;
    top: 0;
    line-height: 1;
}
.rendering-iframe-holder {
    position: relative;
    width: 100%;
    height: 500px;
}

.rendering-sample {
    width: 100%;
    height: 400px;
}

.profile-image {
    width: 100%;
}
.profile-name {
    text-align: center;
}

.form-items li {
    padding: 5px 12px;
    background-color: #b7eeb3;
    margin: 5px;
    border-radius: 3px;
}

.form-item {
    margin-bottom: 10px;
}

#form-preview {
    background-color: beige;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}