.drag-layout {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 6px;
    padding: 10px;
    margin: 3px;
    background: -moz-linear-gradient(top,  rgba(165,246,255,0.86) 0%, rgba(155,190,204,0.79) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,246,255,0.86)), color-stop(100%,rgba(155,190,204,0.79))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(165,246,255,0.86) 0%,rgba(155,190,204,0.79) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(165,246,255,0.86) 0%,rgba(155,190,204,0.79) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(165,246,255,0.86) 0%,rgba(155,190,204,0.79) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(165,246,255,0.86) 0%,rgba(155,190,204,0.79) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dba5f6ff', endColorstr='#c99bbecc',GradientType=0 ); /* IE6-9 */
}
.drag-layout h1 {
    font-size: 2em;
    font-weight: bold;
}
#contentsection.drag-layout {
    background: -moz-linear-gradient(top,  rgba(255,84,129,0.86) 0%, rgba(214,62,211,0.79) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,84,129,0.86)), color-stop(100%,rgba(214,62,211,0.79))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,84,129,0.86) 0%,rgba(214,62,211,0.79) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,84,129,0.86) 0%,rgba(214,62,211,0.79) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,84,129,0.86) 0%,rgba(214,62,211,0.79) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,84,129,0.86) 0%,rgba(214,62,211,0.79) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbff5481', endColorstr='#c9d63ed3',GradientType=0 ); /* IE6-9 */
}

#formsection.drag-layout {
    background: -moz-linear-gradient(top,  rgba(210,255,82,0.86) 0%, rgba(145,232,66,0.79) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,255,82,0.86)), color-stop(100%,rgba(145,232,66,0.79))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(210,255,82,0.86) 0%,rgba(145,232,66,0.79) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(210,255,82,0.86) 0%,rgba(145,232,66,0.79) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(210,255,82,0.86) 0%,rgba(145,232,66,0.79) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(210,255,82,0.86) 0%,rgba(145,232,66,0.79) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbd2ff52', endColorstr='#c991e842',GradientType=0 ); /* IE6-9 */
}

.drag-layout:hover, #layout-output .piece-remove:hover, .modal .pagination:hover, .form-items li{
    cursor: pointer;
}

#layout-output.over {
    background: rgba(236, 204, 211, 0.15);
}
.used-over {
    border: 2px solid #291414;
}

#layout-output {
    min-height: 500px;
    padding: 20px 20px 100px 20px;
    margin: 10px;
}
#layout-output .piece-remove {
    min-height: 10px;
    min-width: 10px;
    color: indianred;
    display: inline-block;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 9px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
}

#layout-map {
    border: 1px solid grey;
}

.data {
    display: none;
}

.rendering-iframe {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.8);  /* Saf3.1+, Chrome */
    -moz-transform: scale(0.8);  /* FF3.5+ */
    -ms-transform: scale(0.8);  /* IE9 */
    -o-transform: scale(0.8);  /* Opera 10.5+ */
    transform: scale(0.8);
}
.rendering-iframe-id {
    position: absolute;
    color: rgba(59, 122, 155, 0.5);
    font-size: 8em;
    font-family: serif;
    top: 0;
    line-height: 1;
}
.rendering-delete {
    position: absolute;
    top: 120px;
}
.rendering-iframe-holder {
    position: relative;
    width: 100%;
    height: 500px;
}

.rendering-sample {
    width: 100%;
    height: 400px;
}

.profile-image {
    width: 100%;
}
.profile-name {
    text-align: center;
}

.form-items li {
    padding: 5px 12px;
    background-color: #b7eeb3;
    margin: 5px;
    border-radius: 3px;
}

.form-item {
    margin-bottom: 10px;
}

#form-preview {
    background-color: beige;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}